/* основной цвет #434455  */
/* вторичный цвет #2E2F42 */
/*цвет кнопок и ховера с фокусом #4D5AE5 */
/* цвет героя #FFFFFF */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primery-text-color: #434455;
  --accent-color: #4d5ae5;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.button {
  min-width: 69px;
  height: 48px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
body {
  background-color: #ffffff;
  font-family: "Roboto";
}

h1 h2 h3 h4 h5 h6 {
  margin: 0;
}

/* Header */

.header-box {
  display: flex;
}

/* logo */
.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-web {
  color: #4d5ae5;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #2e2f42;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

/* site-nav */
.site-nav {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-link {
  color: #2e2f42;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.site-contacts {
  display: flex;
  gap: 40px;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts-link {
  color: #434455;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* MAIN */

/* Main Studio */

/* hero */
.hero {
  background-color: #2e2f42;
  text-align: center;
  margin-bottom: 120px;
}
.hero-title {
  margin-bottom: 48px;
  margin-top: 0;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* skills */
.skills {
  margin-bottom: 120px;
}

.skills-list {
  display: flex;
  gap: 24px;
  vertical-align: middle;
}
.skills-title {
  margin: 0;
  color: #2e2f42;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.skills-text {
  margin: 0;
  color: #434455;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* What are we doing  */
.presentation {
  margin-bottom: 120px;
}
.presentation-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: #2e2f42;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.presentation-list {
  display: flex;
  gap: 24px;
}

/* team */
.team {
  background: #f4f4fd;
  height: 732px;
}
.team-list {
  background-color: #ffffff;
}

.card {
  background-color: #ffffff;
  width: 264px;
  height: 380px;
}

.team-hero {
  margin: 0;
  padding-top: 120px;
  padding-bottom: 72px;

  color: #2e2f42;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-title {
  margin-bottom: 8px;
  margin-top: 0;
  color: #2e2f42;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  margin: 0;
  color: #434455;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-list {
  display: flex;
  gap: 32px;
}

.foto {
  margin-bottom: 32px;
}

/* MAIN PORTFOLIO */
/* Header */

/* filters */


.filters-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
  margin-top: 96px;
}

.filters-button {
  background-color: #f4f4fd;
  color: #4d5ae5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.filters-button:hover,
.filters-button:focus {
  background: #404bbf;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
}
/* portfolio */
.portfolio-list {
display: flex;
flex-wrap: wrap;
gap: 24px;
margin-bottom: 120px;}

.portfolio-title {
  margin-top: 32px;
  margin-bottom: 8px;
  color: #2e2f42;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-title:hover,
.portfolio-title:focus {
  color: #4d5ae5;
}
.portfolio-text {
  color: #434455;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text:hover,
.portfolio-text:focus {
  color: #4d5ae5;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  height: 310px;
}
.footer-box {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* logo */

.logo {
  margin-bottom: 16px;
}

.logo .footer-web {
  color: #4d5ae5;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-studio {
  color: #f4f4fd;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  margin-bottom: 100px;
  margin-top: 16px;
  color: #e7e9fc;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

